h1 {
  color: #52BAB3;
}
.episodes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.episode {
  margin: 2px
}

.nav__image {
  width: 32px;
}

footer {
  font-size: 14px;
}
.footer-link > li {
  display: inline-block;
  font-size: 22px;
  padding: 5px;
}

.footer-link > li > a {
  text-decoration: none;
}

.footer-link > li {
  font-size: 14px;
}
